.right {
float: right;
white-space: wrap;
color: white;
border: 1px solid white;
  font-size: 12px;
}

ul .right {
background: transparent;
}

.left {
float: left;
white-space: wrap;
color: white;
border: 1px solid white;
}

ul {
  background: none;
  font-size: 12px;
}

body {
  font-weight: bold;
}
